{% load static %} 
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark ">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/">Crime Insight</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    {% if user.is_authenticated %}
                        <!-- 사용자가 로그인되어 있을 때 -->
                        <p>안녕하세요, {{ user.username }}님!</p>
                        <li><a class="dropdown-item" href="{% url 'account:logout' %}">로그아웃</a></li>
                    {% else %}
                        <!-- 사용자가 로그인되어 있지 않을 때 -->
                        <li><a class="dropdown-item" href="{% url 'account:login' %}">로그인</a></li>
                    {% endif %}
                    
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" href="index.html">
                        <a class="nav-link" href="{% url 'data:safemap' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Safe Map
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            범죄 통계
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="layout-static.html">지역별 통계</a>
                                <a class="nav-link" href="layout-sidenav-light.html">장소별 통계</a>
                                <a class="nav-link" href="layout-sidenav-light.html">검거율 통계</a>
                                <a class="nav-link" href="{% url 'data:region' %}">지역별 통계</a>
                                <a class="nav-link" href="{% url 'data:yongsan' %}">장소별 통계</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        소통 게시판
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="layout-static.html">위험 구역 제보</a>
                                <a class="nav-link" href="layout-sidenav-light.html">CCTV 설치 신청</a>
                                <a class="nav-link" href="layout-sidenav-light.html">자유 게시판</a>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">참고 자료</div>
                        <a class="nav-link" href="charts.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            범죄 관련 데이터 수집
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            최근 범죄 뉴스
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Love Lee:</div>
                    Crime Insight
                </div>
            </nav>
        </div>
    </div>
</body>